name: Java CI with Gradle

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code.
        uses: actions/checkout@v2
      - name: Setup JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Ensure gradlew is executable
        run: chmod +x gradlew
      - name: Validate the gradle wrapper
        uses: gradle/wrapper-validation-action@v1
      - name: Run build with gradle
        run: ./gradlew build --stacktrace
